version: "3.9"
services:
  backend:
    build: ./backend
    container_name: backend-service
    ports:
      - "5001:5000"
    environment:
      - PORT=5000
      - FRONTEND_PORT=8001
      - NODE_ENV=production

  frontend:
    build: ./frontend
    container_name: frontend-service
    ports:
      - "8001:80"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://backend:5001 #change this with actual backend url
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
      - frontend
